* {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#title {
    color:indianred;
    text-decoration: underline black;
}

.list {
    color: indigo;
    list-style-type: none;
}

.points {
    border: solid darkcyan 2px;
}